PORT=3000
HOSTNAME=localhost

MYSQLHOST1=ccscloud.dlsu.edu.ph
MYSQLPORT1=20054
MYSQLUSER1=user
MYSQLPASS1=password
MYSQLNAME1=central_node

MYSQLHOST2=ccscloud.dlsu.edu.ph
MYSQLPORT2=20055
MYSQLUSER2=user
MYSQLPASS2=password
MYSQLNAME2=luzon_node

MYSQLHOST3=ccscloud.dlsu.edu.ph
MYSQLPORT3=20056
MYSQLUSER3=user
MYSQLPASS3=password
MYSQLNAME3=vismin_node

DEPLOYED=LUZON