<!DOCTYPE html>
<html>

<head>
    <title> STADVDB Transaction Management </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" type="text/javascript"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
    <script type="text/javascript" src="../js/delete.js"></script>
    <div class="flex flex-col items-center gap-6">
        <h1 class="mt-5 text-lg"> Delete an appointment </h1>
        <div class="flex flex-col gap-4">
            <input type="text" id="appointment-id" name="appointment-id" placeholder="Appointment ID"
                class="border border-gray-400 p-2 rounded">
            <button id="delete-appointment" type="submit"
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
        </div>
    </div>
</body>

</html>